* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

img{width: 100%;}
section ul,ol{
    padding-left: 5%;
}

header {
    background-color: #012045;
}

.intro{
    color: #EEF5FF;
    display: flex;
    justify-content: center;
}
.intro-content{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: center;
}
.col{
    padding:20px;
}
nav img{
    width:auto;
}
 /* Sticky navbar styles */
 .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-align: center;
    padding: 5% 5% 0 5%;
    font-size: 2.5rem;
    text-transform: uppercase ;
    color: #fff !important;
}
h2{
    margin-bottom: 60px;
    padding: 10px 0;
    font-size: 2rem;
    text-transform: uppercase ;
    border-left: 5px solid #012045;
    padding-left: 20px;
}
.navbar {
    padding:0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}
.nav-links li:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #FFA791;
}
.nav-links a {
    color: #012045;
    text-decoration: none;
}


.hero {
    padding: 20px;
    background-color: #fff;
}
section {
    padding: 20px;
}

.about{
    background-image: url(../images/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
}
.about h3{
    margin-bottom: 20px;
    border-bottom: 1px solid #012045;
}
.about .row .col{
    margin:10px;
    padding:30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
section:nth-of-type(even) {
    background-color: #EEF5FF;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #012045;
    color: white;
}

/*VISUALIASION*/
.visualisation{
    background-image: url(../images/linechart.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
    color: #012045;
}
.visualisation h2{
    margin-bottom: 30px;
    border-left: 5px solid #012045;
    padding-left: 20px;
}
.visual .col{
    width: 30%;
}

/*HEADMAP*/
#body-chart2{
    background-image: url(../images/disease.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
    color: #012045;
}
.body-chart2-text{
    margin:30px 0;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
}

.map-background{
    margin-bottom: 6%;
    padding:20px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
}
.map-background .aside {
    display: flex;
}

.body-chart2 .col{
    margin: 20px;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
}
.body-chart3-text{
    margin:30px 0;
    padding: 2%;
    background-color: #EEF5FF;
   border-radius: 10px;
}
#body-chart3 .row .col{
    margin: 20px;
    padding: 2%;
    background-color:#EEF5FF;
   border-radius: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.country-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.country-item {
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
}

.country-item button {
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.country-item button:hover {
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: lightsteelblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#body-chart3{
    background-image: url(../images/money.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
    color: #012045;
}