* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

img{width: 100%;}
section ul,ol{
    padding-left: 5%;
}

header {
    background-color: #012045;
}

.intro{
    color: #EEF5FF;
    display: flex;
    justify-content: center;
}
.intro-content{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: center;
}
.col{
    width: 80%;
}
nav img{
    width:auto;
}
 /* Sticky navbar styles */
 .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    text-transform: uppercase ;
    color: aliceblue;
}
h2{
    padding: 10px 0;
    font-size: 2rem;
    text-transform: uppercase ;
    
}
.navbar {
    padding:0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}
.nav-links li:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #FFA791;
}
.nav-links a {
    color: #012045;
    text-decoration: none;
}


.hero {
    padding: 20px;
    background-color: #fff;
}
.hero h1{color: #012045;}

section {
    padding: 20px;
}
section:nth-of-type(even) {
    background-color: #EEF5FF;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #012045;
    color: white;
}


/*HEADMAP*/
.map-background{
   text-align: center;
}
.map-background .aside {
    display: flex;
}
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.country-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.country-item {
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
}

.country-item button {
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.country-item button:hover {
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: lightsteelblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
